@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-VariableFont_wdth,wght.woff2") format("woff2"),
         url("./Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype"),
         url("./Roboto/Roboto-VariableFont_wdth,wght.otf") format("opentype");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto mono";
    src: url("./Roboto_Mono/RobotoMono-VariableFont_wght.woff2") format("woff2"),
         url("./Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype"),
         url("./Roboto_Mono/RobotoMono-VariableFont_wght.otf") format("opentype");
    font-weight: 100 900;
    font-display: swap;
}